# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

_Objectives:_
- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- Create a table containing some Data Science Tools

## Author
Joan Paulo Mart√≠nez

Some of the popular languages that Data Scientist use are:
1. Python
2. R (and RStudio)
3. SQL (Structured Query Langauge)

Some of the commonly used libraries used by Data Scientists include: 
1. Numpy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
6. PyTorch

|Data Science Tools|
|:----------------:|
|      Pandas      |
|      Hadoop      |
|      Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335